

.customer-bar:hover{
    background-color: rgba(245, 245, 245, 0.452);
}


.customer-bar{
    padding-left: 15px;
    width: 85%;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid rgba(202, 202, 202, 0.692);
    transition-duration: 0.2s;
    display: flex;


}
.customer-bar:hover{
    border-radius: 15px;
}

.status-date{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.id-message{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.pick-agent{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.status{
    color: rgb(0, 221, 0);
    padding-bottom: 5px;
}

.status.progress{
    color: rgb(0, 4, 221) !important;
    padding-bottom: 5px;
}

.date{
    color: rgb(163, 163, 163);
    font-size: small;
}

.customer-id{
    font-weight: bold;
    color: #3d3d3d;
}
.customer-message{
    color: rgb(124, 124, 124);
    font-size: 14px;
    padding-right: 10px;
}
